


html, body{
	/*reset*/
	margin: 0px;
	padding: 0px;

	/*Scroll suave*/
	scroll-behavior: smooth;
}

body{
	background: white;
}

/*Estilos generales*/
.container{
	width: 800px;
	margin: auto;
}

.container200{
	width: 305px;
	margin: auto;

	padding-top: 150px;
	/*background-color: blue;*/
}

.clear{
	clear: both;
}

.text-r{
	text-align: right;
}

.text-l{
	text-align: left;
}

/*estilo SMX2*/
.SMX2B{
	font-weight: 700;
	/*animation: smx 3s infinite alternate;	*/
	transform: scale(1);
	display: inline-block;
	position: absolute;
}

	@keyframes smx{
		0%{
			color: #F31D1D;
			transform: scale(1);
			letter-spacing: 1em;
		}

		100%{
			color: #25EECF;
			transform: scale(2);
			letter-spacing: 4em;
		}
	}


/*Estilos POrtada*/

#header{
	background-color: #EAEAEA;

	padding: 20px 0px 150px;
}

#header img{
	width: 75px;
}

#header h1{
	display: inline;
}

.btn{
	color: white;
	padding: 15px 30px;
	border-radius: 5px;
	box-shadow: 0px 4px 4px #868686;
	text-decoration: none;
	text-align: center;

	margin: 0px 15px;
}

.color1{
	background: #60B17D;
}

.color1:hover{
	background: #52966A;
}


.color2{
	background: #C36262;
}

.color2:hover{
	background: #AA5555;
}

/*Sección Tabla1*/
#tabla1{
	padding: 200px 0px 250px;
	background-color: #363b42;

}

#tabla1 table{
	border: 1px solid #ff7700;
	border-collapse: collapse;

	background: #8a8a8a;
	margin: auto;
	box-shadow: 0px 2px 3px #ff7700;
}

#tabla1 th{
	border: 1px solid #ff7700;
	padding: 10px;
	font-size: 0.5em;
	text-transform: uppercase;
}

#tabla1 td{
	border: 1px solid #ff7700;
	padding: 10px 25px;
}

/*Estilos tabla2*/

.left{
	width: 300px;
	float: left;
}

.right{
	width: 500px;
	float: right;
}

#tabla2{
	background-color: blue;
	padding: 200px 0px 300px;
	color: white;
}

#tabla2 table{
	border-collapse: collapse;
}

#tabla2 tr{
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
}

#tabla2 th{
	padding: 10px 10px;
	font-weight: 100;
}

#tabla2 td{
	padding: 20px 10px;
}

.tr-hover{
	transition: all 0.5s;
}

.tr-hover:hover{
	background: #E5E5E555;
}


#top{
	padding: 10px 16px;
	font-size: 2em;
	color: black;
	background: #D9D9D950;
	border-radius: 50px;
	border: 2px solid black;
	transition: all 0.5s;

	/*posicionamineto fijo*/
	position: fixed;
	right: 15px;
	bottom: 15px;
}

#top:hover{
	background: #D9D9D9DD;
}

